<mat-grid-list cols="2">
  <mat-grid-tile *ngIf="fileUploaded && sourceVideo">
    <div class="video-wrapper">
      <video id="elSourceVideo" #elSourceVideo class="video-js" controls preload="auto" width="640" height="264" poster=""
        data-setup="{}">
        <source [src]="sourceVideo.src" type="{{sourceVideo.type}}" />
      </video>
    </div>
  </mat-grid-tile>
  <!-- <!-- <mat-grid-tile *ngIf="fileUploaded">2</mat-grid-tile> -->
  <mat-grid-tile *ngIf="fileUploaded && targetVideo">
    <div class="video-wrapper">
      <video id="elTargetVideo" #elTargetVideo class="video-js" controls preload="auto" width="640" height="264" poster=""
        data-setup="{}">
        <source [src]="targetVideo.src" type="{{targetVideo.type}}" />
      </video>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="2"
    >
    <form [formGroup]="form" class="upload-form">
      <!-- Загрузка файла -->
      <app-file-upload class="file-upload__ctrl"
        formControlName="fileCtrl"
        *ngIf="!fileUploaded"
        [acceptType]="'video/*'"
        (fileUploaded)="onFilePicked($event)"
        [title]="'Drag video file, or click here'">
      </app-file-upload>
    </form>
  </mat-grid-tile
  >
</mat-grid-list>

<img [src]="src" *ngFor="let src of keyFrames" />
  <!-- <form [formGroup]="form">
</form>

<app-ffmpeg
  *ngIf="fileUploaded"
  [afterFilePicked]="afterFilePicked"></app-ffmpeg> -->
